{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'client_app/css/main.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    {% block style %}
    {% endblock %}
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      {% block header %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'main:home' %}">TestTask</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'main:home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:check_email' %}">Email check</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:check_domain' %}">Domain search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'main:change_data' %}">Change data</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
        <main class="main">
          {% block main %}
          <div class="main__container container">
            <div class="main__introducement">
              <p>Hello my name is Roman</p>
              <p>This web page was created to verify your e-mail, searching email on website, store and modify stored data</p>
              <p>In this task I used verified service <a href="https://hunter.io/api-documentation/v2">hunter.io</a></p>
              <p>To use this web application properly, You need to provide an api key from <a href="https://hunter.io/api-documentation/v2">hunter.io</a></p>
              <form method="POST" action="{% url 'main:home' %}" class="main__form">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="api_key" class="form-label">API KEY</label>
                  {{form.api_key}}                  
                  {{form.user}}                  
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
              </form>
            </div>
          </div>
          {% endblock %}
        </main>
      {% block footer %}
        <footer class="footer">
          <p>2024</p>
        </footer>
      {% endblock %}
    </div>

    <script src="{% static 'client_app/js/main.js' %}">

    </script>

    {% block script %}
    {% endblock %}
  </body>
</html>
